body {
    background-color: black;
    font-family: 'Nunito', sans-serif;
    color: blanchedalmond;
    text-align: center;
}
a:hover, a:active, a:link, a:visited {
    text-decoration: none;
    color: blanchedalmond;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 1;
    border-bottom: 2px solid blanchedalmond;
}
main {   
    background-color: black;
    padding-top: 5rem;
}
#bit {
    font-size: larger;
    font-family: 'VT323', monospace;
}
footer {
    margin-top: 2rem;
    border-top: 2px solid blanchedalmond;
}
.maps {
    width: 80vw;
    height: 75vh;
}